*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a font for all body */
body{
    font-family: 'Inconsolata', monospace;
    background-color: rgb(238, 238, 238);
}

/* margin bottom to create space between header and main  */
header{
    margin-bottom: 100px;
}

/* container to agroup logo and nomeLogo */
.caixaHeader{

    width: 100%;
    height: 94px;
    position: relative;
    padding: 6px;
    background:url(../Image/backGround.jpg);
}

/* nutri logo design */
.nutriLogo{
    display: inline-block;
    position:relative; /* related to your position  */
    width:  100px;
    height: 100px;
    margin: 6 auto;
    padding: 4px;
  


}
/* nomeLogo design */
.nomeLogo{
    position: absolute; /* related a previos relative position   */
    display: inline-block;
    width: 375px;
    left: 800px;
    margin: 6px auto 6px auto;
    top: 2px;
    padding: 4px;
   
    
    
}

/* orange box design(future project) */
.caixaLaranja{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #f8a836;
    margin: 0px 0 50px 0;
    box-shadow: 10px 5px 5px black;
}

.caixaPacientesAgendados{                      

    width: 60%;
	margin: 0 auto;
    

}   

section{
	margin: 2em 0;
	overflow: hidden; /* HOW conte organize into table */
}

/* H2 design */
section h2{
	font-size: 2.3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 2px solid  gray;
	margin-bottom: .5em;
    
}
  
/* talbe design */
table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
    
    
    

}

/* td and th design */
td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid black;
	text-align: center;
    overflow: hidden;
}

th{
	font-weight: bold;
	background-color:blanchedalmond;
}

/* label design */


.tabela-pacientes{
    background-color: rgb(255, 255, 255);
}

.info-imc,.info-gordura{
   
    font-weight: bolder;
    
    
}

.infoInvalida{
    background-color: lightcoral;
}

.containerFormulario{
    width: 60%;
	margin: 0 auto;
    margin-top: 2px;
   
    position: relative;
    
}


.formNovoPaciente{

    display: block;
    font-size: 20px;
    margin-bottom: 10px;

}

form label, fieldset legend {

    font-weight: bold;
    
   
}


.input-padrao {
    display:block;
    margin: 7px 0 20px 0;
    padding: 10px 20px;
    width: 50%;
}

.selectSexo{

    width: 40%;
    border: solid 2px #474544;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    margin-top: 1em;
}




.enviarFormulario {
    width: 40%;
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 1.2em;
  }


  
.enviarFormulario:hover {
    background: #f8a836;
    color: #F2F3EB;
    transition: 1s all;
    width: 30%;
    font-size: 1.2em;
  }


