*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a font for all body */
body{
    font-family: 'Inconsolata', monospace;
    background-color: rgb(238, 238, 238);
}

/* margin bottom to create space between header and main  */
header{
    margin-bottom: 100px;
}

/* container to agroup logo and nomeLogo */
.caixaHeader{

    width: 100%;
    height: 94px;
    position: relative;
    padding: 6px;
    background:url(../Image/backGround.jpg);
}

/* nutri logo design */
.nutriLogo{
    display: inline-block;
    position:relative; /* related to your position  */
    width:  100px;
    height: 100px;
    margin: 6 auto;
    padding: 4px;
  


}
/* nomeLogo design */
.nomeLogo{
    position: absolute; /* related a previos relative position   */
    display: inline-block;
    width: 375px;
    left: 800px;
    margin: 6px auto 6px auto;
    top: 2px;
    padding: 4px;
   
    
    
}

/* orange box design(future project) */
.caixaLaranja{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #f8a836;
    margin: 0px 0 50px 0;
    box-shadow: 10px 5px 5px black;
}

.caixaPacientesAgendados{                      

    width: 60%;
	margin: 0 auto;
}   

section{
	margin: 2em 0;
	overflow: hidden; /* HOW conte organize into table */
}

/* H2 design */
section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 2px solid  black;
	margin-bottom: .5em;
}
  
/* talbe design */
table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

/* td and th design */
td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid black;
	text-align: center;
}

th{
	font-weight: bold;
	background-color:blanchedalmond;
}

/* label design */


.tabela-pacientes{
    background-color: rgb(255, 255, 255);
}

.info-imc,.info-gordura{
   
    font-weight: bolder;
    
    
}

.infoInvalida{
    background-color: lightcoral;
}